<div class="noquestions">
  <img src="/images/noquestion.svg" alt="" />
  <p>Nenhuma pergunta por aqui...</p>
  <p>
    Faça sua primeira pergunta e envie o<br />
    código dessa sala para outras pessoas!
  </p>
</div>
